<h1 style='color:red'> GOOD AFTERNOON EVERYONE</h1>

    1. Please reply me in the chat
    2. If anyone have any doubt can raise your hand I will allow them to unmute
    3. Those who will take full 3hr workshop will get the certificates...

### Python

    Programming Language???
    
        Language --> Medium of communication
            High Level Language --> Programmers
        Program --> Set of instructions
            a = 10
            b = 20
            print(a+b)
        
        It is language which is used to perform a task by giing instructions to computer
        
        
    Dynamic Language???
        int a = 10
        char c  (1 byte)
        
        
        c = 10 (2 bytes)
        
        
        Allots memory during run time

In [1]:
a = 10

In [2]:
a = "hello"

In [3]:
a

'hello'

    HLL ---> LLL
    
        Compiler
            It converts full program at a time
            
        Interpreter
            Line by line

In [4]:
print("hello world")
print("hi world")

hello world
hi world

In [5]:
a = 10
b = "hello"

In [6]:
print("ADDITION : ", a+b)
print("\n WELCOME TO MY WORLD OF PYTHON...")
print("\n THIS IS MY FAVOURITE LANGUAGE...")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [8]:
print("SUBTRACTION : ", a-b)

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [9]:
## line 1 --> error
# 20 lines --> error

### General Purpose Language

    1. Web Development
    2. Data Science
    3. Machine Learning
    4. Artificial Language
    5. Desktop Application
    6. Logo
    7. Automation
    8. Hacking
    9. IOT
    10. etc

        Anaconda Applications
        
            1. Jupyter-Lab
            2. Jupyter-notebook
            3. Spyder
            4. Otconsole

In [1]:
print("WELCOME TO MY WORLD")
# shift + enter --> run

WELCOME TO MY WORLD

<h1 style='color:coral'>PYTHON WORKSHOP</h1>

#### Features of Python

    1. Python is easy language
    2. Its syntax is easy to use
    3. Python is general Purpose Language

In [3]:
# esc + h --> help
# esc + a --> insert cell above
# esc + b --> insert cell below
# esc + dd --> cell delete

### Data Types
    
    Data --> Anything raw fact or figure
    
    Simran   Jaipur    It Trainer
    
    
        a + b 
        a - b
        a*2
        
        alphabtes --> combine --> words and sentences

    1. Number
    2. Strings
    3. List
    4. Dictionary
    5. Sets
    6. Tuple
    7. Boolean

### Number

    1. Int
        Non decimal
    2. Float
        Decimal
    3. Complex
        Imaginary + real

In [4]:
a = 10
b = 20.45
c = 3+4j

In [5]:
a

10

In [6]:
b

20.45

In [7]:
c

(3+4j)

In [8]:
type(a)

int

In [9]:
type(b)

float

In [10]:
type(c)

complex

In [11]:
10 + 20

30

In [12]:
30 + 30

60

In [13]:
12*34

408

In [14]:
10.34*10

103.4

In [15]:
10 - 3.4

6.6

In [16]:
2**3  # power

8

In [18]:
# single line comment
"""Multi Line Comments"""
print("2 to the power 3 is : ", 2**3)

2 to the power 3 is :  8

In [19]:
print(a, b, c)

10 20.45 (3+4j)

In [23]:
print("A :", a, "  B :", a, '  C :', c)

A : 10   B : 10   C : (3+4j)

In [24]:
2/3  # absolute division

0.6666666666666666

In [25]:
round(2/3)
# round off

1

In [28]:
6/123

0.04878048780487805

In [29]:
round(6/123)  # giving single value after round off

0

In [33]:
round(6/123, 7)

0.0487805

In [34]:
12/34

0.35294117647058826

In [35]:
## want value before decimal only

In [36]:
12//34  # floor division

0

In [39]:
12/34

0.35294117647058826

In [37]:
12.34//3

4.0

In [38]:
12.34/3

4.113333333333333

In [40]:
(3+4j) + (4+5j)

(7+9j)

In [41]:
(3+4j) * (4+5j)

(-8+31j)

### Strings

    Collection of characters and special characters ($, @, #,  , ! etc)

In [42]:
s1 = 'a'
s2 = "Hello world"
s3 = """YOU CAN LEARN ANY LANGUAGE IF YOU LOVE IT"""

In [43]:
type(s1)

str

In [44]:
type(s2)

str

In [45]:
type(s3)

str

In [46]:
print(dir(s1))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [47]:
# __dunder__ methods --> magic methods
### magic methods are called automatically

In [51]:
s1 + s2  # concatenation

'aHello world'

In [52]:
s1 + " " + s2 # __add__

'a Hello world'

In [53]:
s1.__add__(s2)

'aHello world'

In [54]:
s1.__add__(" ").__add__(s2)

'a Hello world'

In [55]:
s1

'a'

In [57]:
s2

'Hello world'

In [58]:
len(s2)

11

In [59]:
"*"*80  # repition

'********************************************************************************'

In [60]:
print("SIMRAN GROVER "*20)

SIMRAN GROVER SIMRAN GROVER SIMRAN GROVER SIMRAN GROVER SIMRAN GROVER SIMRAN GROVER SIMRAN GROVER SIMRAN GROVER SIMRAN GROVER SIMRAN GROVER SIMRAN GROVER SIMRAN GROVER SIMRAN GROVER SIMRAN GROVER SIMRAN GROVER SIMRAN GROVER SIMRAN GROVER SIMRAN GROVER SIMRAN GROVER SIMRAN GROVER

In [62]:
s2
# indexing --> 0

'Hello world'

            
         -11-10-9-8-7-6-5-4-3-2-1      --> -ve or reverse indexing               
            H e l l o  w o r l d
            0 1 2 3 4 5 6 7 8 9 10     --> +ve or forward indexing

In [63]:
s2[0]

'H'

In [64]:
s2[-11]

'H'

In [65]:
s2[10]

'd'

In [66]:
s2[-1]

'd'

##### slicing

    str_object[start:stop:step]
    
        start default = 0
        stop = end
        step = 1
        
        Immutable
        
###### step is always added

In [70]:
s2[:]
# default values
# s2[0] --> H
# 0 + 1 --> 1
# s2[1] --> e
# 1 + 1 --> 2
# s2[2] --> l
# s2[3] --> l

'Hello world'

In [72]:
s2[2::2]
# 2 --> l
# 2+2 = 4 --> o
# 4 + 2 = 6 --> w
# 6 + 2 = 8 --> r
# 8 + 2 = 10 --> d
# stop = end, start and step = 2

'lowrd'

In [73]:
s2[3:8:2]
# 3 
# 3+2 = 5
# 5+2 = 7

'l o'

In [74]:
s2[5]

' '

#### Whenever you give stop it stops one step before

    stop = 8 it will end at 7
    stop = 9 it will end at 6

In [75]:
s2[-5::-1]
# start = -5, stop = end, step = -1
# -5
# -5 + (-1) = -6
# -6 + (-1) = -7
# -7 + (-1) = -8 
# .....
# -11

'w olleH'

In [76]:
s2[::-1]
# reversed string
# step = -1, default start = -1, stop = end
# -1
# -2
# -3
# -4
# -5...

'dlrow olleH'

In [77]:
s3

'YOU CAN LEARN ANY LANGUAGE IF YOU LOVE IT'

In [78]:
s3.split()
# spilt with space

['YOU', 'CAN', 'LEARN', 'ANY', 'LANGUAGE', 'IF', 'YOU', 'LOVE', 'IT']

#### List

    Collection of elements
    
    []
    
    Mutable

In [79]:
alpha = ['a', 'b', 'c', 'd', 'e']

In [80]:
alpha

['a', 'b', 'c', 'd', 'e']

In [81]:
type(alpha)

list

In [82]:
print(dir(alpha))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [83]:
alpha.append("z")

In [84]:
alpha  # mutable

['a', 'b', 'c', 'd', 'e', 'z']

In [86]:
alpha[3] = "D"  # mutable

In [87]:
alpha

['a', 'b', 'c', 'D', 'e', 'z']

In [92]:
s2[3] = "L" # immutable

TypeError: 'str' object does not support item assignment

    l = [1, 2, 3, 4, 5]
        circular right shift

In [93]:
alpha

['a', 'b', 'c', 'D', 'e', 'z']

In [94]:
alpha.pop()

'z'

In [95]:
help(alpha.pop)

Help on built-in function pop:

pop(index=-1, /) method of builtins.list instance
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [96]:
help(alpha.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [98]:
help(s1.split)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the words in the string, using sep as the delimiter string.

    sep
      The delimiter according which to split the string.
      None (the default value) means split according to any whitespace,
      and discard empty strings from the result.
    maxsplit
      Maximum number of splits to do.
      -1 (the default value) means no limit.

In [100]:
alpha.insert(3, "Z")

In [101]:
alpha

['a', 'b', 'c', 'Z', 'D', 'e']

In [103]:
alpha.pop(3)

'Z'

In [104]:
alpha

['a', 'b', 'c', 'D', 'e']

In [105]:
alpha.index("c")

2

In [106]:
alpha.sort()

In [107]:
alpha
# a-z
# uppercase and lowercase

['D', 'a', 'b', 'c', 'e']

In [108]:
ord("D")

68

In [109]:
ord("a")

97

### Dictionary

    d = {'key' : 'value'}
    
    mutable

In [110]:
d = {"fname": "simran", "lname": "grover", "course": "data science"}

In [111]:
type(d)

dict

In [112]:
d['fname']

'simran'

In [113]:
d['course']

'data science'

In [114]:
print(dir(d))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [115]:
d.keys()

dict_keys(['fname', 'lname', 'course'])

In [116]:
d.values()

dict_values(['simran', 'grover', 'data science'])

In [117]:
d.items()
# [(key, value)]

dict_items([('fname', 'simran'), ('lname', 'grover'), ('course', 'data science')])

In [119]:
d['course'] = ['python', 'development', 'data science']  # mutable

In [120]:
d

{'fname': 'simran',
 'lname': 'grover',
 'course': ['python', 'development', 'data science']}

In [122]:
d['course'][2]

'data science'

### Tuple

    t = ()
    Immutable
    collectiono f elements

In [123]:
t = (1, 2, 3)

In [124]:
type(t)

tuple

### Sets

    s = {1, 3, 4, 5, 6}
    unique numbers

In [125]:
l = [1, 2, 3, 1, 2, 1, 1, ]

In [126]:
l

[1, 2, 3, 1, 2, 1, 1]

In [127]:
s = {1, 1, 2, 3, 4, 2, 10}

In [128]:
s

{1, 2, 3, 4, 10}

In [129]:
type(s)

set

In [130]:
l = [1, 2, 3, 4, 5] 
# output --> [5, 1, 2, 3, 4]

In [132]:
[l[-1]] + l[:-1]

[5, 1, 2, 3, 4]

In [133]:
l[-1]

5

In [134]:
l[:-1]

[1, 2, 3, 4]

In [136]:
[l[-1]] + l[:-1]

[5, 1, 2, 3, 4]

In [138]:
e = l.pop()
l.insert(0, e)

In [139]:
l

[5, 1, 2, 3, 4]